.form-container{
    background-color: (255,255.255.0.9);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 10px (0,0,0,0.1);
    width: 700px;
    text-align: center;
}
input{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}
